#hello {
	font-size: 25px;
	font-weight: 900;
}

.Test1 {
	margin-top: 111px;
	margin-right: 80%;
	border: 2px dashed black;
	border-radius: 50px;
	text-align: center;
	font-weight: 700;
	box-shadow: 4px 4px 7px #000000;
	background-color: #B9EAFF;
}

.Test1:hover {
	transform: rotate(360deg) scale(1);
	transition: 3s all;
}

#big {
	margin: 50px;
	margin-right: 90%;
	border: 2px dotted black;
	text-align: center;
	font-weight: 900;
	box-shadow: 3px 3px 7px lime;
	transform: rotate(-7deg) scale(1);
	background-color: #B9FFF2;
	border-radius: 25px;
}

#small {
	margin-left: 10%;
	margin-right: 80%;
	border: 2px solid black;
	text-align: center;
	font-weight: 500;
	box-shadow: 3px 3px 7px #fff000;
	transform: rotate(-10deg) scale(1);
	background-color: #FFFBB8;
	border-radius: 45%;
}

#hw2 {
	background-color: #43FE50;
	padding: 15px 10px 20px 10px;
	margin-top: 50px;
	border: 2px dotted red;
	width: 330px;
	height: 185px;
	margin-bottom: 30px;
}















